@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 20px;
}

button:hover {
    background: #6884d3;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

p a {
    color: #7494ec;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: #f8d7da;
    color: #721c24;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
}

.box p {
    font-size: 22px;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}

